@model  DeckBuilder.Models.ViewModels.AddCard

@{
    ViewBag.Title = "Add";
}

<h2>Add a new Card</h2>
<form method="POST" action="/Card/Add" enctype="multipart/form-data">
    <div>
        <span>Image: </span><input type="file" name="CardPic" id="CardPic" />
    </div>
    <div>
        <label name="CardName">Card Name: </label>
        <input type="text" name="CardName" id="CardName" />
    </div>
    <div>
        <label name="CardColour">Card Colour: </label>
        <select id="CardColour" type="text" name="CardColour">
            <option value="Yellow">Yellow</option>
            <option value="Green">Green</option>
            <option value="Red">Red</option>
            <option value="Blue">Blue</option>
        </select>
    </div>
    <div>
        <label name="SeriesID">Series: </label>
        <select id="SeriesID" type="text" name="SeriesID">
            @{
                //A rendering loop for presenting a list of series
                //The card should be one of these series
                foreach (var series in @Model.allSeries)
                {
                    <option value="@series.SeriesID">@series.SeriesName</option>
                }
            }
        </select>
    </div>
    <div>
        <label name="TraitID1">Trait: </label>
        <select id="TraitID1" type="text" name="TraitID1">
            @{
                <option value="-1">Not Selected</option>
                //A rendering loop for presenting a list of traits
                //The card should be one of these trait
                foreach (var trait in @Model.allTraits)
                {
                    <option value="@trait.TraitID">@trait.TraitName</option>
                }
            }
        </select>
    </div>
    <div>
        <label name="TraitID2">Trait: </label>
        <select id="TraitID2" type="text" name="TraitID2">
            @{
                <option value="-1">Not Selected</option>
                //A rendering loop for presenting a list of traits
                //The card should be one of these trait
                foreach (var trait in @Model.allTraits)
                {
                    <option value="@trait.TraitID">@trait.TraitName</option>
                }
            }
        </select>
    </div>

    <input type="submit" value="Add Card" />
</form>

