@model DeckBuilder.Models.Card

@{
    ViewBag.Title = "Show";
}

<h2>Show Card Detail</h2>

<a href="/Card/List">Back to List</a>
<a href="/Card/Update/@Model.CardID">Update</a>
<p>Name: @Model.CardName</p>
<p>Colour: @Model.CardColour</p>
<p>Series: <a value="@Model.SeriesID">@Model.Series.SeriesName</a></p>
@{
    if (Model.Trait1 != null)
    {
        <p>Trait: <a value="@Model.TraitID1">@Model.Trait1.TraitName</a></p>
    }
    if (Model.Trait2 != null)
    {
        <p>Trait: <a value="@Model.TraitID2">@Model.Trait2.TraitName</a></p>
    }
}