@model DeckBuilder.Models.ViewModels.ShowCard

@{
    ViewBag.Title = "Show";
}

<h2>Show Card Detail</h2>

<a href="/Card/List">Back to List</a>
<a href="/Card/Update/@Model.card.CardID">Update</a>
<div>
    <img src="../../Content/Cards/@(Model.card.PicID).@(Model.card.PicExtension)" alt="Image of @Model.card.CardName" />
</div>
<p>Name: @Model.card.CardName</p>
<p>Colour: @Model.card.CardColour</p>
<p>Series: <a href="/Series/Show/@Model.card.SeriesID">@Model.card.Series.SeriesName</a></p>
@{
    foreach (var trait in @Model.traits)
    {
        <p>Trait: <a href="/Trait/Show/@trait.TraitID">@trait.TraitName</a></p>
    }
}