@model DeckBuilder.Models.ViewModels.UpdateCard

@{
    ViewBag.Title = "Update";
}

<h2>Update @Model.card.CardName</h2>
<form method="POST" action="/Card/Update/@Model.card.CardID">
    <div>
        <span>Card Name: </span><input type="text" name="CardName" id="CardName" value="@Model.card.CardName" />
    </div>
    <div>
        <span>Card Colour: </span><input type="text" name="CardColour" id="CardColour" value="@Model.card.CardColour" />
    </div>
    <div>
        <span>Series: </span>
        <select id="SeriesID" type="text" name="SeriesID">
            @{
                //A rendering loop for presenting a list of series
                //The card should be one of these series
                foreach (var series in @Model.allSeries)
                {
                    if (Model.card.SeriesID == @series.SeriesID)
                    {
                        <option value="@series.SeriesID" selected>@series.SeriesName</option>
                    }
                    else
                    {
                        <option value="@series.SeriesID">@series.SeriesName</option>

                    }
                }
            }
        </select>
    </div>
    <div>
        <span>Trait: </span>
        <select id="TraitID1" type="text" name="TraitID1">
            @{
                <option value="-1" selected>None</option>
                //A rendering loop for presenting a list of traits
                foreach (var trait in @Model.allTraits)
                {
                    if (Model.card.Trait1 != null && Model.card.TraitID1 == trait.TraitID)
                    {
                        <option value="@trait.TraitID" selected>@trait.TraitName</option>
                    }
                    else
                    {
                        <option value="@trait.TraitID">@trait.TraitName</option>
                    }
                }
            }
        </select>
    </div>
    <div>
        <span>Trait: </span>
        <select id="TraitID2" type="text" name="TraitID2">
            @{
                <option value="-1" selected>None</option>
                //A rendering loop for presenting a list of traits
                foreach (var trait in @Model.allTraits)
                {
                    if (Model.card.Trait2 != null && Model.card.TraitID2 == trait.TraitID)
                    {
                        <option value="@trait.TraitID" selected>@trait.TraitName</option>
                    }
                    else
                    {
                        <option value="@trait.TraitID">@trait.TraitName</option>
                    }
                }
            }
        </select>
    </div>
    <input type="submit" value="Update Card" />
</form>
