@model DeckBuilder.Models.ViewModels.ShowDeck

@{
    ViewBag.Title = "Show";
}

<h2>Show Trait Detail</h2>

<a href="/Deck/List">Back to List</a>
<a href="/Deck/Update/@Model.deck.DeckID">Update</a>
<p>Name: @Model.deck.DeckName</p>
<div>
    <h3>Your Deck List</h3>
    @{
        for (int i = 0; i < @Model.cards.Count; i++)
        {
            <p>Card Name: <a href="/Card/Show/@Model.cards[i].CardID">@Model.cards[i].CardName</a> Quantity: @Model.cardQuantity[i]</p>
            <form method="POST" action="/Deck/RemoveCard/@Model.deck.DeckID?CardID=@Model.cards[i].CardID">
                <input id="submit" type="submit" value="Remove Card" />
            </form>
        }
    }
</div>
<div>
    <h3>All Card List</h3>
    @{
        foreach (var card in @Model.allCards)
        {
            <p>
                Card Name: <a href="/Card/Show/@card.CardID">@card.CardName</a>
            </p>
            <form method="POST" action="/Deck/AddCard/@Model.deck.DeckID?CardID=@card.CardID">
                <input id="submit" type="submit" value="Add to Deck" />
            </form>
        }
    }
</div>